<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="RASolarHRAEntities" connectionString="metadata=res://*/RASolarHRADB.csdl|res://*/RASolarHRADB.ssdl|res://*/RASolarHRADB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.96.1.2\RSFERP_UAT;initial catalog=RASolarERP;persist security info=True;user id=RSFIT;password=rsfit1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>